body{
    /* position: fixed; */
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-size: cover;

}
.rain{
    height: 100vh;
    background-image: url(rain.png);
    animation: rain 0.3s linear infinite;
}
@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 20% 100%;
    }
}
.rain::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(lightining.png);
    top: -100px;
    transform: rotate(180deg);
    animation: lightining 4s linear infinite;
    opacity: 1;
}
@keyframes lightining{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.row.fixed {
    position: fixed;
    top: 161px;
    left: 100px;
    right:100px;
}
.col-sm-2{
    position: relative;
}
.center-me {
  
  font-size: 25px;
   text-align: center;
   color: rgb(238, 255, 5);
   margin:auto;
   align-items: center ;

  margin-bottom: 20px;
  }
  .full{ 
    top: 50%;
    flex-direction: column;
    align-items: center;
      display: flex;
      height:60px;
      align-items: center;
      display: flex;
      justify-content: center;
    
  }
  .box_nhac i {
      font-size: 35px;
      z-index: 10px;
      color: green
  }
  .box_nhac {
    position: fixed;
    position: absolute;
    top: 40px;
    left: 40px;
    transform: translate(-50%, -50%);
}
audio.nhac {
 width: 100px;
   opacity: 0;
   position: fixed;
   top: -7px;
   left: -6px;
   z-index: 10000;
}
/* ========= */.pulse {

    width: 36px;
    border-radius: 50%;
    color: #fff;

    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(251, 255, 0, 0.7), 0 0 0 0 rgba(94, 255, 0, 0.7);
    }
    40% {
        box-shadow: 0 0 0 50px rgba(255, 0, 64, 0), 0 0 0 0 rgba(0, 255, 149, 0.7);
    }
    80% {
        box-shadow: 0 0 0 50px rgba(255, 0, 64, 0), 0 0 0 30px rgba(255, 0, 64, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 30px rgba(255, 0, 64, 0);
    }
}